

.bg1 {
    text-align: center;
    min-height:500px;
    /* min-width: fit-content; */
    color: honeydew;
    background-image: url(../photos/bg1.jpg);
    background-size: cover;
}

.bg2 {
    text-align: center;
    min-height:500px;
    /* min-width: fit-content; */
    color: honeydew;
    background-image: url(../photos/bg2.jpg);
    background-size: cover;
}



.bg3 {
    text-align: center;
    min-height:500px;
    /* min-width: fit-content; */
    color: honeydew;
    background-image: url(../photos/bg3.jpg);
    background-size: cover;
}



.bg4 {
    text-align: center;
    min-height:500px;
    /* min-width: fit-content; */
    color: honeydew;
    background-image: url(../photos/bg4.jpg);
    background-size: cover;
}



.bg5 {
    text-align: center;
    min-height:500px;
    /* min-width: fit-content; */
    color: honeydew;
    background-image: url(../photos/bg5.jpg);
    background-size: cover;
}


.bg6 {
    text-align: center;
    min-height:500px;
    /* min-width: fit-content; */
    color: honeydew;
    background-image: url(../photos/bg6.jpg);
    background-size: cover;
}

.bg7 {
    /* text-align: center; */
    min-height:500px;
    /* min-width: fit-content; */
    color: honeydew;
    background-image: url(../photos/bg7.jpg);
    background-size: cover;
}


section {
    padding: 100px;
}

body {
    /* padding-top: 105px;
     */
     padding-top: 40px;
    /* background-color: #ffdfd3; */
    background-color: #e7e5e4;

}

.fixed-top-2 {
    margin-top: 56px;
    padding-bottom: 56px;
}

.sticky-top {
    padding-top: 56px;
}

/* Start Top Header */
.top-header {
    padding: 2rem;  
    background-color: #ffdfd3;
    /* background-size: cover; */
    background-image: url(../photos/Books.jpg);
    /* margin-top: 0px; */
    
}

.navbar-brand {
    color: var(--mainColor);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
   
}

.navbar-brand span {
    color: #000;
}

.navbar-brand small {
    display: block;
    font-size: 13px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 3px;   
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: rgb(17, 0, 252);
}


/* END Top Header */

.card{
    background-color: rgb(240, 241, 179);
    padding: 20px;
}


/* START #home*/

#home {
    text-align: center;
    background-size: cover;
}

#home .container {
    padding: 60px;
}

#home #box {
    background: rgba(7, 7, 7, 0.6);
    margin: 20px;
    padding: 20px;
}



#home p {
    color: white;
    font-size: 14px;
}


/* END #home */

/* START about */
#about {
    text-align: center;
    background-size: cover;
}

#about .container {
    background: rgba(7, 7, 7, 0.6);
    padding: 60px;
    /* padding-top: 20px; */
}



/* END about */

/* START contact */
#contact {
    text-align: center;
    background-size: cover;
}

#contact .container {
    background: rgba(7, 7, 7, 0.6);
    padding: 60px;
    /* padding-top: 20px; */
}



/* END contact */
